*{
margin:0;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(247,248,251);
  background: linear-gradient(180deg, rgba(247,248,251,1) 49%, rgba(186,222,36,1) 53%, rgba(5,5,5,1) 56%);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}
.ioi{
  background: rgb(17,63,223);
background: linear-gradient(124deg, rgba(17,63,223,1) 47%, rgba(163,8,240,1) 49%);
}
p{
  text-align: center;
  font-size: 18px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}


.ok{
  margin-left:1050px;
  margin-top: -87px;
}
#okj{
  margin-left:1050px;
  margin-top: -114px;
}

.titlebb{
  width: 100%;
  height: 70px;
  background: rgb(39,252,5);
background: linear-gradient(151deg, rgba(39,252,5,1) 46%, rgba(45,248,253,1) 48%);
}
.titlecc{
  width: 100%;
  height: 70px;
  background: rgb(17,63,223);
  background: linear-gradient(124deg, rgba(17,63,223,1) 47%, rgba(240,27,8,1) 49%);
}
.titlett{
  width: 100%;
  height: 70px;
  background: rgb(199,19,210);
background: linear-gradient(137deg, rgba(199,19,210,1) 41%, rgba(241,97,13,1) 59%);
}
.mySlides {
  display: hidden;
  height: 480px;
}

.zasc{
  height: 50px;
  width: 100%;
    background-size: cover;
    background-position: 50% 21%;
    background-image: url('https://i.pinimg.com/originals/ea/1d/97/ea1d9797c9bf3dda7a23b238e5e4b364.jpg');
  }

  #copyr{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 40px;
  }

.wrapper{
  width: 100%;
  height: auto;
  overflow: hidden;
}
hr{
  border: 10px solid red;
border-radius: 5px;
}

.bilderx{
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-bottom: 60px;
    margin-top: 60px;
}
h1{
  text-align: center;
  font-weight: bolder;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (min-width:500px) and (max-width:1300px){

  .ok{
    margin-left:400px;
    margin-top: -87px;
  }

}
